<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb page-head-nav">
    <li class="breadcrumb-item">
      <%= link_to 'Books', books_path %>
    </li>
    <li class="breadcrumb-item active">
      Edit Book
    </li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    Edit a Book
  </div>
  <div class="card-body">
    <%= render 'books/partials/form' %>
  </div>
</div>