.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;

  > * {
    font-size: 1.077rem;
    line-height: 14px;
    font-weight: 400;
    padding: .7692rem .9231rem;
    color: #404040;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-left: 4px;

  }

  em {
    z-index: 1;
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
  }
}